<!--{block ajax_examine_js}-->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<script>
    console.log("{$key}")
</script>
<script uuid="{$key}" type="text/javascript"
    src="source/plugin/content_moderation/js/jquery.min.js?key={$key}"></script>
<script uuid="{$uuid}" type="text/javascript"
    src="source/plugin/content_moderation/js/float.js?key={$key}&tid={$tid}&fid={$fid}&formhash={$formhash}"></script>
<!--{/block}-->